* {
    box-sizing: border-box;
}
canvas {
	background: #eee; 
}
.canvas {
	background: #eee; 
	float: right;
}
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

.page{
	background-color: white;
	padding: 15px;
}

.loginbody {
	font-family: Arial;
    padding: 10px;
	background-image: url("../images/log_reg.png");
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #008000;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: green;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

.middlecolumn {   
    float: center;
    width: 100%;
	height: 100%;
}
.login {   
    background: #f1f1f1;
    float: center;
	width: 600px;
	position: absolute;
    left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
}
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}
img {
	border: 2px solid #ddd;
	border-radius: 4px;
    padding: 20px;
    width: 100%;
}
/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    padding: 20px;
    margin-top: 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
	position: float;
    padding: 15px;
    text-align: center;
    background-color: #008000;
	width:100%;
    margin-top: 0;
	overflow: hidden;
}

/* Footer style for link */
.footer a {
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 15px;
	font-family: Arial;
}

/* Footer style for link when hovered over*/
.footer a:hover {
    color: black;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/*********************************************************************************/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}

/* The Grid for the store items */
.grid-container {
    display: grid;
	width: 100%; /* Full width */
    height: 100%; /* Full height */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }

  /* The Grid for the store items */
.invo-container {
	width: 800px; /* Full width */
    height: 100%; /* Full height */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .invo-item {
	float: left;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
	width: 25%; /* Full width */
    height: 100%; /* Full height */
    text-align: center;
  }